<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('predefined_queries') }}">Find Your Connections</a></li>
    <li><a href="{{ path('ontology_visualization') }}">Ontology</a></li>
    <li><a href="{{ path('sparql_form') }}">Expert Usage</a></li>
    <li><a href="{{ path('about') }}">About</a></li>
    
    <li><a href="{{ path('admin') }}">Admin Panel</a></li>
  </ul>
</div><!--/.nav-collapse -->
